@media only screen and (max-width: 992px) {
    .container{
        width: 80%;
    }
    .header-main {
        display: none;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
    }
    .responsive-menu-icon,.responsive-cart-icon{
        font-size: 24px;
    }
    .col-2{
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-info-details h1{
        text-align: center;
    }
    .hero-info-details p{
        text-align: center;
        margin: 0;
    }
    .hero-button{
        display: flex;
        justify-content: center;
    }
    .hero-image{
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .product-container{
        width: 100%;
    }
    .product{
        margin: 15px;
    }
    .col-3{
      grid-template-columns: repeat(2, 1fr);
    }
    .col-7{
        grid-template-columns: repeat(4, 1fr);
    }
    .logo-image{
        margin: 15px;
    }
    .see-button{
        text-align: center;
    }
    .col-4{
        grid-template-columns: repeat(1, 1fr);
    }
    .fourth-section-details{
        margin: 0;
    }
    .fourth-section-description h1{
        margin-top: 20px;
        line-height: 46px;
    }
    .news-letter{
        width: 90%;
    }
    .email{
        width: 68%;
    }
    .submit-button{
        font-size: 14px;
        padding: 10px 28px;
    }
  }
  @media only screen and (max-width: 662px) {
      .container{
        width: 90%;
      }
    .product-container{
        width: 100%;
    }
    .col-3{
        grid-template-columns: repeat(1, 1fr);
      }
    .hero-info-details h1{
        font-size: 28px;
    }
    .hero-image img{
        width: 90%;
    }
    .logo-image img{
        width: 85%;
    }
    .fourth-section-description h1{
        margin-top: 20px;
        font-size: 24px;
        line-height: 36px;
    }
  }